<!--p>
  `hi... i have configured the route for home works!
  This is custom message in home component.`
  
</p-->



<div class="container1" >
    

<div class="row" style="text-align: center;" >
  
  <div class="col-sm-4" *ngFor="let data of allData1" >
    <div class="card" >
      <div class="card-body" style="border:1px solid red; border-radius: 2px;">
        <h5 class="card-title" style="border-bottom: 1px solid;">Books</h5>
        <img class="card-img-top" src="assets/img2.jpg" alt="Card image cap">
        <p class="card-text" style="margin-top: 2vh;" >{{data.name}}</p>
        
        <a href="#" class="btn btn-secondary" [routerLink]="['/books',data.url.split('books/').pop()]">Read</a>
      </div>
    </div>
  </div>


  <div class="col-sm-4"   *ngFor="let data1 of allData2" >
    <div class="card">
      <div class="card-body" style="border:1px solid blue; border-radius: 2px;">
        <h5 class="card-title" style="border-bottom: 1px solid;">Characters</h5>
        <img class="card-img-top" src="assets/img3.jpg" alt="Card image cap">
        <p class="card-text" style="margin-top: 2vh;" >{{data1.gender}}</p>
        <!--br/><br/><a [routerLink]="['/data',data.url]" class="btn btn-primary">Read</a-->
        <a href="#" class="btn btn-secondary" [routerLink]="['/characters',data1.url.split('characters/').pop()]">Read</a>
      </div>
    </div>
  </div>


<div class="col-sm-4"  *ngFor="let data2 of allData" >
  <div class="card" >
    <div class="card-body" style="border:1px solid green; border-radius: 2px;">
      <h5 class="card-title" style="border-bottom: 1px solid;">Houses</h5>
      <img class="card-img-top" src="assets/img1.jpg" alt="Card image cap">
      <p class="card-text" style="margin-top: 2vh;" >{{data2.name}}</p>
      <a href="#" class="btn btn-secondary" [routerLink]="['/houses',data2.url.split('houses/').pop()]">Read</a>
    </div>
    
  </div>
</div>
</div>



</div>
